<div class="about">
    <div class="about__container">
        {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" title="Peças em Destaque" identificador="precasemdestaque" carrossel="1" limite="6" markup="<h2 class='products__header'><span class='products__image product-image'>@foto(485x485)</span></h2><div class='products__main'><div class='products__content'><a href='@url' title='@nome(60)' class='products__link'></a><span class='products__name'>@nome</span> @if(dimensoes) <span class='products__dimensions'>@atributo(dimensoes)</span> @endif(dimensoes) @if(is_disponivel) @preco @preco(parcelado) @else(is_disponivel) <div class='esgotado'>Produto Esgotado</div> @endif(is_disponivel) @bt(listadesejos '<svg class='ico z-wish'><use xlink:href='#z-wish' /></svg>') </div></div>"}}

        <div class="about__content">
            <div class="about__text">
                <p>
                    Arte, palavra de alcance infinito e múltiplas dimensões. <br>
                    Para alguns, Ofício e a própria razão de existir. <br>
                    Para outros, Prazer Estético puro e simples. <br>
                    Para terceiros, Investimento e Pulsação.
                </p>

                <p>
                    A função do Marchand é viver intensamente esses <br>
                    três Universos. Transitar entre eles com desenvoltura, <br>
                    visão, compreensão e eficiência.
                </p>

                <p>
                    Buscar a perfeita harmonia dentro dessa diversidade <br>
                    e ser partícipe individual no alcance da plenitude de br    
                    anseios, expectativas e realizações pessoais.
                </p>

                <p>
                    Buscar a “Unidade na Diversidade”, como tão bem <br>
                    expressou o pensador Tristão de Athayde, é a <br>
                    essência da Arte e, em última análise, do trabalho <br>
                    sério do Marchand.
                </p>

                <p>
                    Meu trabalho é interpretá-la, com o dinamismo que <br>
                    o mundo das artes exige. Meu acervo, o resultado <br>
                    dessa pesquisa incessante.
                </p>

                <div class="about__author">Lívia Doblas</div>
            </div>
        </div>
    </div>
</div>