.about
    background: url(about)
    background-position: center bottom
    background-size: cover
    background-repeat: no-repeat

    .products
        padding-bottom: 80px

        &__title
            padding: 50px 0 30px

    &__container
        container()

    &__text
        margin-left: auto
        max-width: 100%
        width: 375px
        font-weight: regular
        font-size: 14px
        line-height: 1.5

        p
            + p
                margin-top: 20px

    &__author
        padding: 30px 0
        font-weight: medium
        font-size: 26px