.blogfeed
    container()

    .ul--0
        @media media-min-lg
            justify-content: flex-start

    .li--0
        @media media-min-lg
            max-width: 33.333%

    .title
        padding: 40px 0
        text-align: center
        font-weight: regular
        font-size: 20px

    &__post
        display: block

    &__thumb
        margin-right: 0

        .imgcase
            border-radius: 0

    &__postname.title
        margin-bottom: 0
        padding: 20px 0
        text-align: left
        font-weight: regular
        font-size: 26px

    &__time
        display: none

    &__post
        padding: 0
        box-shadow: none

    &__excerpt.std
        color: var(--primary)
        font-weight: regular
        font-size: 14px