.mymenu
    .footer &
        .a--0
            color: var(--primary)
            font-weight: regular
            font-size: 14px

            &:hover
                text-decoration: underline

        .li--0:not(:last-child)
            margin-bottom: 16px