.mywish
    .header &
        margin: 0 16px

    &__header
        color: var(--color-text)
        text-transform: uppercase
        font-weight: medium
        font-size: 12px

        a
            display: flex
            justify-content: center
            align-items: center
            color: currentColor

            span
                margin-left: 5px

        .ico
            width: 21px
            height: 19px
            fill: currentColor

    &__content
        display: none !important