.newsletter
    --color: #8a8a8a

    &
        margin: 50px auto 0
        padding: 20px
        max-width: calc(100% - 32px)
        width: 1038px
        box-shadow: 0 0 0 1px var(--color-border)

    .input-text
        border: 0
        border-bottom: solid 1px var(--primary)
        border-radius: 0
        box-shadow: none

        &::placeholder
            color: var(--color)
            font-weight: regular
            font-size: 14px

    &__text
        display: flex
        flex: 0 1 420px
        align-items: center

        @media media-min-lg
            align-items: center
            margin-bottom: 8px

        @media media-max-lg
            flex: 0 0 100%

        .ico
            margin-right: 15px
            width: 35px
            height: 21px

        .title
            color: var(--primary)
            font-weight: regular
            font-size: 14px

    &__form
        @media media-min-lg
            flex-wrap: nowrap

    &__name
        min-width: 0

        @media media-min-lg
            flex: 0 1 160px

    &__email
        min-width: 0

        @media media-min-lg
            flex: 0 1 260px
            padding-right: 0
            padding-left: 20px

    &__submit
        @media media-min-lg
            padding-left: 0

    &__btn
        height: 44px
        border-bottom: solid 1px var(--primary)
        border-radius: 0
        background: none
        box-shadow: none
        color: var(--primary)
        font-weight: regular
        font-size: 14px
