.toolbar
    @media media-min-lg
        margin-bottom: 0 !important

    .amount, .limiter, &-bottom
        display: none

    .sorter
        @media media-max-lg
            margin: 0 auto

    .sort-by
        margin-left: 0

        &:before
            padding: 0 16px 0 0
            content: 'Ordenar'
            font-weight: regular
            font-size: 15px

        label
            display: none

        select
            padding: 0 40px 0 16px
            max-width: 100%
            width: 190px
            height: 40px
            border: 0
            border-bottom: solid 1px var(--color-select)
            border-radius: 0
            background: #fff no-repeat url(select) center right 16px
            box-shadow: none
            color: var(--color-text)
            font-weight: regular
            font-size: 15px
            opacity: 1
            appearance: none