.topo-chat
    margin: 0 16px
    color: var(--color-text)
    text-transform: uppercase
    font-weight: medium
    font-size: 12px

    @media media-max-md
        margin: 0

    a
        display: flex
        align-items: center
        color: currentColor

        @media media-max-md
            justify-content: center
            align-items: center
            width: 50px
            height: 50px

        span
            margin-left: 5px

            @media media-max-md
                display: none

    .ico
        width: 24px
        height: 19px
        fill: currentColor

        @media media-min-md
            margin-top: -5px