.all-brands
    h1
        margin-top: 20px
        font-weight: medium
        font-size: 20px

    &-list
        .brand img
            height: auto

        a
            border: 0

.shopbybrand-index-brandpageview
    .toolbar, .brand_container, .sidebar, .ias-noneleft
        display: none !important
